schematrons/generated/FI-Validation-37.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-37" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject[$noticeSubType = '37']">
<assert id="FI-37-FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislationCode) = 0">rule|text|FI-37-FI-11-1</assert>
<assert id="FI-37-FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) = 0">rule|text|FI-37-FI-30-1</assert>
<assert id="FI-37-FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) = 0">rule|text|FI-37-FI-20-1</assert>
</rule>
</pattern>
