schematrons/generated/FI-Validation-stage-2b.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-stage-2b" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject">
<assert id="FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislationCode) &lt; 2">rule|text|FI-11-1</assert>
<assert id="FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) &lt; 2">rule|text|FI-30-1</assert>
<assert id="FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) &lt; 2">rule|text|FI-20-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:TenderingProcess">
<assert id="FI-125-1" role="ERROR" test="count(hilma:PreviousPlanningIdentifier) &lt; 2">rule|text|FI-125-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:NoticeResult/hilma:SettledContracts/hilma:SettledContract">
<assert id="FI-70-1" role="ERROR" test="count(hilma:ContractValueAmount) &lt; 2">rule|text|FI-70-1</assert>
<assert id="FI-70-Contract-1" role="ERROR" test="count(cbc:ID) &lt; 2">rule|text|FI-70-Contract-1</assert>
</rule>
</pattern>
