schematrons/generated/FI-Validation-32.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-32" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject[$noticeSubType = '32']">
<assert id="FI-32-FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislationCode) = 0">rule|text|FI-32-FI-11-1</assert>
<assert id="FI-32-FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) = 0">rule|text|FI-32-FI-30-1</assert>
<assert id="FI-32-FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) = 0">rule|text|FI-32-FI-20-1</assert>
</rule>
</pattern>
