schematrons/generated/FI-Validation-33.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-33" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company/cac:PostalAddress[$noticeSubType = '33']">
<assert id="FI-33-BT-512-Organization-Company-1" role="ERROR" test="count(cbc:PostalZone) &gt; 0">rule|text|FI-33-BT-512-Organization-Company-1</assert>
</rule>
<rule context="/*/cac:ProcurementProject[$noticeSubType = '33']">
<assert id="FI-33-BT-717-Lot-1" role="ERROR" test="count(/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:StrategicProcurement[efbc:ApplicableLegalBasis/@listName='cvd-scope']/efbc:ApplicableLegalBasis) &gt; 0 or not(cac:MainCommodityClassification/cbc:ItemClassificationCode/normalize-space(text()) = ('60000000','60112000','60130000','60140000','90511000','60160000','60161000','64121100','64121200','60100000','90510000','64121000','34100000') or starts-with(cac:MainCommodityClassification/cbc:ItemClassificationCode/normalize-space(text()), '3411') or starts-with(cac:MainCommodityClassification/cbc:ItemClassificationCode/normalize-space(text()), '3412') or starts-with(cac:MainCommodityClassification/cbc:ItemClassificationCode/normalize-space(text()), '3413') or starts-with(cac:MainCommodityClassification/cbc:ItemClassificationCode/normalize-space(text()), '3414') or cac:AdditionalCommodityClassification/cbc:ItemClassificationCode/normalize-space(text()) = ('60000000','60112000','60130000','60140000','90511000','60160000','60161000','64121100','64121200','60100000','90510000','64121000','34100000') or starts-with(cac:AdditionalCommodityClassification/cbc:ItemClassificationCode/normalize-space(text()), '3411') or starts-with(cac:AdditionalCommodityClassification/cbc:ItemClassificationCode/normalize-space(text()), '3412') or starts-with(cac:AdditionalCommodityClassification/cbc:ItemClassificationCode/normalize-space(text()), '3413') or starts-with(cac:AdditionalCommodityClassification/cbc:ItemClassificationCode/normalize-space(text()), '3414'))">rule|text|FI-33-BT-717-Lot-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:StrategicProcurement[efac:StrategicProcurementInformation/efbc:ProcurementCategoryCode/@listName='cvd-contract-type']/efac:StrategicProcurementInformation[$noticeSubType = '33']">
<assert id="FI-33-BT-723-LotResult-1" role="ERROR" test="count(efac:ProcurementDetails/efbc:AssetCategoryCode) &gt; 0 or not((efbc:ProcurementCategoryCode))">rule|text|FI-33-BT-723-LotResult-1</assert>
<assert id="FI-33-BT-723-LotResult-2" role="ERROR" test="count(efac:ProcurementDetails/efbc:AssetCategoryCode) = 0 or not(efac:ProcurementDetails/efbc:AssetCategoryCode/normalize-space(text()) = 'm1' or efac:ProcurementDetails/efbc:AssetCategoryCode/normalize-space(text()) = 'm2' or efac:ProcurementDetails/efbc:AssetCategoryCode/normalize-space(text()) = 'n1' or efac:ProcurementDetails/efbc:AssetCategoryCode/normalize-space(text()) = 'n2' or efac:ProcurementDetails/efbc:AssetCategoryCode/normalize-space(text()) = 'n3')">rule|text|FI-33-BT-723-LotResult-2</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult[$noticeSubType = '33']">
<assert id="FI-33-BT-735-LotResult-1" role="ERROR" test="count(efac:StrategicProcurement[efac:StrategicProcurementInformation/efbc:ProcurementCategoryCode/@listName='cvd-contract-type']/efac:StrategicProcurementInformation/efbc:ProcurementCategoryCode) &gt; 0 or not(../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:StrategicProcurement[efbc:ApplicableLegalBasis/@listName='cvd-scope']/efbc:ApplicableLegalBasis/normalize-space(text()) = 'true')">rule|text|FI-33-BT-735-LotResult-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:StrategicProcurement[efac:StrategicProcurementInformation/efbc:ProcurementCategoryCode/@listName='cvd-contract-type']/efac:StrategicProcurementInformation/efac:ProcurementDetails/efac:StrategicProcurementStatistics[$noticeSubType = '33']">
<assert id="FI-33-OPT-156-LotResult-1" role="ERROR" test="count(efbc:StatisticsNumeric) &gt; 0 or not(efbc:StatisticsCode)">rule|text|FI-33-OPT-156-LotResult-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject[$noticeSubType = '33']">
<assert id="FI-33-FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislationCode) = 0">rule|text|FI-33-FI-11-1</assert>
<assert id="FI-33-FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) = 0">rule|text|FI-33-FI-30-1</assert>
<assert id="FI-33-FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) = 0">rule|text|FI-33-FI-20-1</assert>
</rule>
</pattern>
