schematrons/generated/FI-Validation-27.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-27" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject/cac:PlannedPeriod[$noticeSubType = '27']">
<assert id="FI-27-BT-36-Lot-1" role="ERROR" test="count(cbc:DurationMeasure) &gt; 0 or not(cbc:DescriptionCode) and not(cbc:EndDate)">rule|text|FI-27-BT-36-Lot-1</assert>
<assert id="FI-27-BT-536-Lot-1" role="ERROR" test="count(cbc:StartDate) &gt; 0 or not(cbc:DescriptionCode) or cbc:DescriptionCode/normalize-space(text()) = 'UNLIMITED'">rule|text|FI-27-BT-536-Lot-1</assert>
<assert id="FI-27-BT-537-Lot-1" role="ERROR" test="count(cbc:EndDate) &gt; 0 or not(cbc:DescriptionCode) and not(cbc:DurationMeasure)">rule|text|FI-27-BT-537-Lot-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company/cac:PostalAddress[$noticeSubType = '27']">
<assert id="FI-27-BT-512-Organization-Company-1" role="ERROR" test="count(cbc:PostalZone) &gt; 0">rule|text|FI-27-BT-512-Organization-Company-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject[$noticeSubType = '27']">
<assert id="FI-27-FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislationCode) = 0">rule|text|FI-27-FI-11-1</assert>
<assert id="FI-27-FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) = 0">rule|text|FI-27-FI-30-1</assert>
<assert id="FI-27-FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) = 0">rule|text|FI-27-FI-20-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:TenderingProcess[$noticeSubType = '27']">
<assert id="FI-27-FI-125-1" role="ERROR" test="count(hilma:PreviousPlanningIdentifier) = 0">rule|text|FI-27-FI-125-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:NoticeResult/hilma:SettledContracts/hilma:SettledContract[$noticeSubType = '27']">
<assert id="FI-27-FI-70-1" role="ERROR" test="count(hilma:ContractValueAmount) = 0">rule|text|FI-27-FI-70-1</assert>
<assert id="FI-27-FI-OPT-100-Contract-1" role="ERROR" test="count(cbc:ID) = 0">rule|text|FI-27-FI-OPT-100-Contract-1</assert>
</rule>
</pattern>
