schematrons/generated/FI-Validation-20.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-20" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:ProcurementProject[$noticeSubType = '20']">
<assert id="FI-20-BT-36-Lot-1" role="ERROR" test="count(cac:PlannedPeriod/cbc:DurationMeasure) &gt; 0 or not((not(cac:PlannedPeriod/cbc:DescriptionCode) and not(cac:PlannedPeriod/cbc:EndDate)))">rule|text|FI-20-BT-36-Lot-1</assert>
<assert id="FI-20-BT-536-Lot-1" role="ERROR" test="count(cac:PlannedPeriod/cbc:StartDate) &gt; 0 or not((not(cac:PlannedPeriod/cbc:DescriptionCode) or cac:PlannedPeriod/cbc:DescriptionCode/normalize-space(text()) = 'UNLIMITED'))">rule|text|FI-20-BT-536-Lot-1</assert>
<assert id="FI-20-BT-537-Lot-1" role="ERROR" test="count(cac:PlannedPeriod/cbc:EndDate) &gt; 0 or not((not(cac:PlannedPeriod/cbc:DescriptionCode) and not(cac:PlannedPeriod/cbc:DurationMeasure)))">rule|text|FI-20-BT-537-Lot-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company/cac:PostalAddress[$noticeSubType = '20']">
<assert id="FI-20-BT-512-Organization-Company-1" role="ERROR" test="count(cbc:PostalZone) &gt; 0">rule|text|FI-20-BT-512-Organization-Company-1</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:StrategicProcurement[efbc:ApplicableLegalBasis/@listName='eed-scope']/efac:StrategicProcurementInformation/efac:ProcurementDetails[$noticeSubType = '20']">
<assert id="FI-20-BT-811_a_-Lot-1" role="ERROR" test="count(efbc:LegalFrameworkCode) = 0 or not(efbc:LegalFrameworkCode/normalize-space(text()) = ('gpp-crit','nzeb-bui'))">rule|text|FI-20-BT-811(a)-Lot-1</assert>
<assert id="FI-20-BT-811_b_-Lot-1" role="ERROR" test="count(efbc:AssetCategoryCode) = 0 or not(efbc:AssetCategoryCode/normalize-space(text()) = ('building'))">rule|text|FI-20-BT-811(b)-Lot-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efac:StrategicProcurement[efac:StrategicProcurementInformation/efac:ProcurementDetails/efbc:AssetCategoryCode/@listName='energy-efficiency-item']/efac:StrategicProcurementInformation/efac:ProcurementDetails[$noticeSubType = '20']">
<assert id="FI-20-BT-811_a_-LotResult-1" role="ERROR" test="count(efbc:LegalFrameworkCode) = 0 or not(efbc:LegalFrameworkCode/normalize-space(text()) = ('gpp-crit','nzeb-bui'))">rule|text|FI-20-BT-811(a)-LotResult-1</assert>
<assert id="FI-20-BT-811_b_-LotResult-1" role="ERROR" test="count(efbc:AssetCategoryCode) = 0 or not(efbc:AssetCategoryCode/normalize-space(text()) = ('building'))">rule|text|FI-20-BT-811(b)-LotResult-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject[$noticeSubType = '20']">
<assert id="FI-20-FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislationCode) = 0">rule|text|FI-20-FI-11-1</assert>
<assert id="FI-20-FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) = 0">rule|text|FI-20-FI-30-1</assert>
<assert id="FI-20-FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) = 0">rule|text|FI-20-FI-20-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:TenderingProcess[$noticeSubType = '20']">
<assert id="FI-20-FI-125-1" role="ERROR" test="count(hilma:PreviousPlanningIdentifier) = 0">rule|text|FI-20-FI-125-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:NoticeResult/hilma:SettledContracts/hilma:SettledContract[$noticeSubType = '20']">
<assert id="FI-20-FI-70-1" role="ERROR" test="count(hilma:ContractValueAmount) = 0">rule|text|FI-20-FI-70-1</assert>
<assert id="FI-20-FI-OPT-100-Contract-1" role="ERROR" test="count(cbc:ID) = 0">rule|text|FI-20-FI-OPT-100-Contract-1</assert>
</rule>
</pattern>
