schematrons/generated/FI-Validation-36.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-36" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company/cac:PostalAddress[$noticeSubType = '36']">
<assert id="FI-36-BT-512-Organization-Company-1" role="ERROR" test="count(cbc:PostalZone) &gt; 0">rule|text|FI-36-BT-512-Organization-Company-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject[$noticeSubType = '36']">
<assert id="FI-36-FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislationCode) = 0">rule|text|FI-36-FI-11-1</assert>
<assert id="FI-36-FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) = 0">rule|text|FI-36-FI-30-1</assert>
<assert id="FI-36-FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) = 0">rule|text|FI-36-FI-20-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:TenderingProcess[$noticeSubType = '36']">
<assert id="FI-36-FI-125-1" role="ERROR" test="count(hilma:PreviousPlanningIdentifier) = 0">rule|text|FI-36-FI-125-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:NoticeResult/hilma:SettledContracts/hilma:SettledContract[$noticeSubType = '36']">
<assert id="FI-36-FI-70-1" role="ERROR" test="count(hilma:ContractValueAmount) &gt; 0 or ../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc')">rule|text|FI-36-FI-70-1</assert>
<assert id="FI-36-FI-70-2" role="ERROR" test="count(hilma:ContractValueAmount) = 0 or not(../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc'))">rule|text|FI-36-FI-70-2</assert>
<assert id="FI-36-FI-70-4" role="ERROR" test="count(hilma:ContractValueAmount) = 0 or not(../../../../ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efbc:DPSTerminationIndicator = true())">rule|text|FI-36-FI-70-4</assert>
<assert id="FI-36-FI-70-Contract-1" role="ERROR" test="count(cbc:ID) &gt; 0 or ../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc')">rule|text|FI-36-FI-70-Contract-1</assert>
<assert id="FI-36-FI-70-Contract-2" role="ERROR" test="count(cbc:ID) = 0 or not(../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc'))">rule|text|FI-36-FI-70-Contract-2</assert>
<assert id="FI-36-FI-70-Contract-4" role="ERROR" test="count(cbc:ID) = 0 or not(../../../../ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult/efbc:DPSTerminationIndicator = true())">rule|text|FI-36-FI-70-Contract-4</assert>
</rule>
</pattern>
