schematrons/generated/FI-Validation-stage-5.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-stage-5" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult">
<assert id="FI-BT-161-NoticeResult-1" role="ERROR" test="not(../../../../../hilma:NationalExtension/hilma:NoticeResult/hilma:SettledContracts/hilma:SettledContract/hilma:ContractValueAmount) or cbc:TotalAmount/number() = sum(../../../../../hilma:NationalExtension/hilma:NoticeResult/hilma:SettledContracts/hilma:SettledContract/hilma:ContractValueAmount/number())">rule|text|FI-BT-161-NoticeResult-1</assert>
</rule>
</pattern>
