schematrons/generated/FI-Validation-X01.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-X01" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject[$noticeSubType = 'X01']">
<assert id="FI-X01-FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislationCode) = 0">rule|text|FI-X01-FI-11-1</assert>
<assert id="FI-X01-FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) = 0">rule|text|FI-X01-FI-30-1</assert>
<assert id="FI-X01-FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) = 0">rule|text|FI-X01-FI-20-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:TenderingProcess[$noticeSubType = 'X01']">
<assert id="FI-X01-FI-125-1" role="ERROR" test="count(cbc:ID) = 0">rule|text|FI-X01-FI-125-1</assert>
</rule>
</pattern>
