schematrons/generated/FI-Validation-E4.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-E4" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/cac:ContractingParty[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-10-Procedure-Buyer-1" role="ERROR" test="count(cac:ContractingActivity/cbc:ActivityTypeCode[@listName='authority-activity']) &gt; 0 or not(cac:ContractingPartyType/cbc:PartyTypeCode[@listName='buyer-legal-type']/normalize-space(text()) = ('body-pl','body-pl-cga','body-pl-la','body-pl-ra','cga','def-cont','eu-ins-bod-ag','grp-p-aut','int-org','la','org-sub','org-sub-cga','org-sub-la','org-sub-ra','ra'))">rule|text|FI-E4-BT-10-Procedure-Buyer-1</assert>
<assert id="FI-E4-BT-10-Procedure-Buyer-2" role="ERROR" test="count(cac:ContractingActivity/cbc:ActivityTypeCode[@listName='authority-activity']) = 0 or (cac:ContractingPartyType/cbc:PartyTypeCode[@listName='buyer-legal-type']/normalize-space(text()) = ('body-pl','body-pl-cga','body-pl-la','body-pl-ra','cga','def-cont','eu-ins-bod-ag','grp-p-aut','int-org','la','org-sub','org-sub-cga','org-sub-la','org-sub-ra','ra'))">rule|text|FI-E4-BT-10-Procedure-Buyer-2</assert>
<assert id="FI-E4-BT-11-Procedure-Buyer-1" role="ERROR" test="count(cac:ContractingPartyType/cbc:PartyTypeCode[@listName='buyer-legal-type']) &gt; 0">rule|text|FI-E4-BT-11-Procedure-Buyer-1</assert>
</rule>
<rule context="/*/cac:TenderingProcess[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-105-Procedure-1" role="ERROR" test="count(cbc:ProcedureCode) &gt; 0">rule|text|FI-E4-BT-105-Procedure-1</assert>
<assert id="FI-E4-BT-88-Procedure-1" role="ERROR" test="count(cbc:Description) &gt; 0 or not(cbc:ProcedureCode/normalize-space(text()) = ('oth-mult','oth-single'))">rule|text|FI-E4-BT-88-Procedure-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-1118-NoticeResult-1" role="ERROR" test="count(efbc:OverallApproximateFrameworkContractsAmount) &gt; 0 or not(efac:LotResult/cbc:TenderResultCode[../efac:TenderLot/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID[../cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc')]/normalize-space(text())]/normalize-space(text()) = 'selec-w') or (not(efac:LotResult/efac:FrameworkAgreementValues/efbc:ReestimatedValueAmount))">rule|text|FI-E4-BT-1118-NoticeResult-1</assert>
<assert id="FI-E4-BT-1118-NoticeResult-2" role="ERROR" test="count(efbc:OverallApproximateFrameworkContractsAmount) = 0 or not(not(efac:LotResult/cbc:TenderResultCode[../efac:TenderLot/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID[../cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc')]/normalize-space(text())]/normalize-space(text()) = 'selec-w') or (not(efac:LotResult/efac:FrameworkAgreementValues/efbc:ReestimatedValueAmount)))">rule|text|FI-E4-BT-1118-NoticeResult-2</assert>
<assert id="FI-E4-BT-118-NoticeResult-1" role="ERROR" test="count(efbc:OverallMaximumFrameworkContractsAmount) &gt; 0 or not(efac:LotResult/cbc:TenderResultCode[../efac:TenderLot/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID[../cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc')]/normalize-space(text())]/normalize-space(text()) = 'selec-w') or (not(efac:LotResult/efac:FrameworkAgreementValues/cbc:MaximumValueAmount))">rule|text|FI-E4-BT-118-NoticeResult-1</assert>
<assert id="FI-E4-BT-118-NoticeResult-2" role="ERROR" test="count(efbc:OverallMaximumFrameworkContractsAmount) = 0 or not(not(efac:LotResult/cbc:TenderResultCode[../efac:TenderLot/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID[../cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc')]/normalize-space(text())]/normalize-space(text()) = 'selec-w') or (not(efac:LotResult/efac:FrameworkAgreementValues/cbc:MaximumValueAmount)))">rule|text|FI-E4-BT-118-NoticeResult-2</assert>
<assert id="FI-E4-BT-161-NoticeResult-1" role="ERROR" test="count(cbc:TotalAmount) &gt; 0 or not(efac:LotResult/cbc:TenderResultCode[../efac:TenderLot/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID[not(../cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc'))]/normalize-space(text())]/normalize-space(text()) = 'selec-w') and not(efac:SettledContract/efbc:ContractFrameworkIndicator = true())">rule|text|FI-E4-BT-161-NoticeResult-1</assert>
<assert id="FI-E4-BT-161-NoticeResult-2" role="ERROR" test="count(cbc:TotalAmount) = 0 or not(not(efac:LotResult/cbc:TenderResultCode[../efac:TenderLot/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cbc:ID[not(../cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement']/cbc:ContractingSystemTypeCode/normalize-space(text()) = ('fa-mix','fa-w-rc','fa-wo-rc'))]/normalize-space(text())]/normalize-space(text()) = 'selec-w') and not(efac:SettledContract/efbc:ContractFrameworkIndicator = true()))">rule|text|FI-E4-BT-161-NoticeResult-2</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change/efac:ChangedSection[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-13716-notice-1" role="ERROR" test="count(efbc:ChangedSectionIdentifier) &gt; 0 or not(../../efbc:ChangedNoticeIdentifier)">rule|text|FI-E4-BT-13716-notice-1</assert>
<assert id="FI-E4-BT-13716-notice-2" role="ERROR" test="count(efbc:ChangedSectionIdentifier) = 0 or (../../efbc:ChangedNoticeIdentifier)">rule|text|FI-E4-BT-13716-notice-2</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-141_a_-notice-1" role="ERROR" test="count(efbc:ChangeDescription) &gt; 0 or not(efac:ChangedSection/efbc:ChangedSectionIdentifier)">rule|text|FI-E4-BT-141(a)-notice-1</assert>
<assert id="FI-E4-BT-141_a_-notice-2" role="ERROR" test="count(efbc:ChangeDescription) = 0 or (efac:ChangedSection/efbc:ChangedSectionIdentifier)">rule|text|FI-E4-BT-141(a)-notice-2</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotResult[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-144-LotResult-1" role="ERROR" test="count(efac:DecisionReason/efbc:DecisionReasonCode) &gt; 0 or not(cbc:TenderResultCode/normalize-space(text()) = 'clos-nw')">rule|text|FI-E4-BT-144-LotResult-1</assert>
<assert id="FI-E4-BT-144-LotResult-2" role="ERROR" test="count(efac:DecisionReason/efbc:DecisionReasonCode) = 0 or (cbc:TenderResultCode/normalize-space(text()) = 'clos-nw')">rule|text|FI-E4-BT-144-LotResult-2</assert>
<assert id="FI-E4-BT-760-LotResult-1" role="ERROR" test="count(efac:ReceivedSubmissionsStatistics/efbc:StatisticsCode) &gt; 0 or cbc:TenderResultCode/normalize-space(text()) = 'open-nw'">rule|text|FI-E4-BT-760-LotResult-1</assert>
<assert id="FI-E4-BT-760-LotResult-2" role="ERROR" test="count(efac:ReceivedSubmissionsStatistics/efbc:StatisticsCode) = 0 or not(cbc:TenderResultCode/normalize-space(text()) = 'open-nw')">rule|text|FI-E4-BT-760-LotResult-2</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:ProcurementProject/cac:MainCommodityClassification[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-262-Part-1" role="ERROR" test="count(cbc:ItemClassificationCode) &gt; 0">rule|text|FI-E4-BT-262-Part-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company/cac:PartyLegalEntity[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-501-Organization-Company-1" role="ERROR" test="count(cbc:CompanyID) &gt; 0">rule|text|FI-E4-BT-501-Organization-Company-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-506-Organization-Company-1" role="ERROR" test="count(cac:Contact/cbc:ElectronicMail) &gt; 0 or not((cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text())))">rule|text|FI-E4-BT-506-Organization-Company-1</assert>
<assert id="FI-E4-BT-507-Organization-Company-1" role="ERROR" test="count(cac:PostalAddress/cbc:CountrySubentityCode) &gt; 0 or not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))">rule|text|FI-E4-BT-507-Organization-Company-1</assert>
<assert id="FI-E4-BT-507-Organization-Company-2" role="ERROR" test="count(cac:PostalAddress/cbc:CountrySubentityCode) = 0 or (cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))">rule|text|FI-E4-BT-507-Organization-Company-2</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company/cac:PostalAddress[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-513-Organization-Company-1" role="ERROR" test="count(cbc:CityName) &gt; 0">rule|text|FI-E4-BT-513-Organization-Company-1</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms/cac:AwardingTerms/cac:AwardingCriterion/cac:SubordinateAwardingCriterion[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-539-Lot-1" role="ERROR" test="count(cbc:AwardingCriterionTypeCode[@listName='award-criterion-type']) &gt; 0">rule|text|FI-E4-BT-539-Lot-1</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='LotsGroup']/cac:TenderingTerms/cac:AwardingTerms/cac:AwardingCriterion[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-539-LotsGroup-1" role="ERROR" test="count(cac:SubordinateAwardingCriterion/cbc:AwardingCriterionTypeCode[@listName='award-criterion-type']) &gt; 0 or not(../../../cbc:ID)">rule|text|FI-E4-BT-539-LotsGroup-1</assert>
<assert id="FI-E4-BT-539-LotsGroup-2" role="ERROR" test="count(cac:SubordinateAwardingCriterion/cbc:AwardingCriterionTypeCode[@listName='award-criterion-type']) = 0 or (../../../cbc:ID)">rule|text|FI-E4-BT-539-LotsGroup-2</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingTerms[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-60-Lot-1" role="ERROR" test="count(cbc:FundingProgramCode[@listName='eu-funded']) &gt; 0">rule|text|FI-E4-BT-60-Lot-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-758-notice-1" role="ERROR" test="count(efbc:ChangedNoticeIdentifier) &gt; 0">rule|text|FI-E4-BT-758-notice-1</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement'][$noticeSubType = 'E4']">
<assert id="FI-E4-BT-765-Lot-1" role="ERROR" test="count(cbc:ContractingSystemTypeCode) &gt; 0">rule|text|FI-E4-BT-765-Lot-1</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='framework-agreement'][$noticeSubType = 'E4']">
<assert id="FI-E4-BT-765-Part-1" role="ERROR" test="count(cbc:ContractingSystemTypeCode) &gt; 0">rule|text|FI-E4-BT-765-Part-1</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='dps-usage'][$noticeSubType = 'E4']">
<assert id="FI-E4-BT-766-Lot-1" role="ERROR" test="count(cbc:ContractingSystemTypeCode) &gt; 0">rule|text|FI-E4-BT-766-Lot-1</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:TenderingProcess/cac:ContractingSystem[cbc:ContractingSystemTypeCode/@listName='dps-usage'][$noticeSubType = 'E4']">
<assert id="FI-E4-BT-766-Part-1" role="ERROR" test="count(cbc:ContractingSystemTypeCode) &gt; 0">rule|text|FI-E4-BT-766-Part-1</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess/cac:AuctionTerms[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-767-Lot-1" role="ERROR" test="count(cbc:AuctionConstraintIndicator) &gt; 0">rule|text|FI-E4-BT-767-Lot-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:NoticeResult/efac:LotTender[$noticeSubType = 'E4']">
<assert id="FI-E4-BT-773-Tender-1" role="ERROR" test="count(efac:SubcontractingTerm[efbc:TermCode/@listName='applicability']/efbc:TermCode) &gt; 0 or not(cbc:ID)">rule|text|FI-E4-BT-773-Tender-1</assert>
<assert id="FI-E4-BT-773-Tender-2" role="ERROR" test="count(efac:SubcontractingTerm[efbc:TermCode/@listName='applicability']/efbc:TermCode) = 0 or (cbc:ID)">rule|text|FI-E4-BT-773-Tender-2</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject[$noticeSubType = 'E4']">
<assert id="FI-E4-FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislationCode) = 0">rule|text|FI-E4-FI-11-1</assert>
<assert id="FI-E4-FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) = 0">rule|text|FI-E4-FI-30-1</assert>
<assert id="FI-E4-FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) &gt; 0">rule|text|FI-E4-FI-20-1</assert>
</rule>
</pattern>
