schematrons/generated/FI-Validation-23.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-23" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company/cac:PostalAddress[$noticeSubType = '23']">
<assert id="FI-23-BT-512-Organization-Company-1" role="ERROR" test="count(cbc:PostalZone) &gt; 0">rule|text|FI-23-BT-512-Organization-Company-1</assert>
</rule>
<rule context="/*/cac:TenderingProcess[$noticeSubType = '23']">
<assert id="FI-23-BT-88-Procedure-1" role="ERROR" test="count(cbc:Description) &gt; 0">rule|text|FI-23-BT-88-Procedure-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject[$noticeSubType = '23']">
<assert id="FI-23-FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislationCode) = 0">rule|text|FI-23-FI-11-1</assert>
<assert id="FI-23-FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) = 0">rule|text|FI-23-FI-30-1</assert>
<assert id="FI-23-FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) = 0">rule|text|FI-23-FI-20-1</assert>
</rule>
</pattern>
