schematrons/generated/FI-Validation-15.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-15" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company/cac:PostalAddress[$noticeSubType = '15']">
<assert id="FI-15-BT-512-Organization-Company-1" role="ERROR" test="count(cbc:PostalZone) &gt; 0">rule|text|FI-15-BT-512-Organization-Company-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject[$noticeSubType = '15']">
<assert id="FI-15-FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislationCode) = 0">rule|text|FI-15-FI-11-1</assert>
<assert id="FI-15-FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) = 0">rule|text|FI-15-FI-30-1</assert>
<assert id="FI-15-FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) = 0">rule|text|FI-15-FI-20-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:TenderingProcess[$noticeSubType = '15']">
<assert id="FI-15-FI-125-1" role="ERROR" test="count(hilma:PreviousPlanningIdentifier) = 0">rule|text|FI-15-FI-125-1</assert>
</rule>
</pattern>
